h1{
	text-align: center;
	font-family: Tahoma;
	font-size: 24px;
	margin-bottom: 50px;
}

body{
	font-family: Tahoma;
	font-size: 12px;
}
nav{
	text-shadow: 2px 2px #51e051;
	font-family: Tahoma;
	font-size: 16px !important; 
	float: left;
}
nav ul li{
	list-style: none;
}
nav ul{
	padding: 0;
}
#listOne{
	float: left;
	margin-left: 100px;
}
#listTwo{
	float: left;
	margin-left: 100px;
}
#listTwo ul{
	list-style: circle;
}
